<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>676279785078-j2m2lfkjkl3dmhg9nfcgth9k6sm7q3cv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.676279785078-j2m2lfkjkl3dmhg9nfcgth9k6sm7q3cv</string>
	<key>API_KEY</key>
	<string>AIzaSyDRuAyjDG5U8bGhh7a3ZX2D1EEdhCyvoZc</string>
	<key>GCM_SENDER_ID</key>
	<string>676279785078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Iv.IvVk</string>
	<key>PROJECT_ID</key>
	<string>ivvk-c20fe</string>
	<key>STORAGE_BUCKET</key>
	<string>ivvk-c20fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676279785078:ios:aad0530cb3c948d0</string>
	<key>DATABASE_URL</key>
	<string>https://ivvk-c20fe.firebaseio.com</string>
</dict>
</plist>